RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api/user/register/?$ index.php?action=register [QSA,L]
RewriteRule ^api/user/login/?$ index.php?action=login [QSA,L]
RewriteRule ^api/user/([0-9]+)/profile/?$ index.php?user_id=$1&action=profile [QSA,L]
RewriteRule ^api/user/([0-9]+)/edit_student/?$ index.php?user_parent_id=$1&action=edit_student [QSA,L]
RewriteRule ^api/user/([0-9]+)/edit_teacher/?$ index.php?user_parent_id=$1&action=edit_teacher [QSA,L]
RewriteRule ^api/user/([A-Za-z0-9]+)/change_password/?$ index.php?user_name=$1&action=change_password [QSA,L]
RewriteRule ^api/classes/?$ classes.php [QSA,L]
RewriteRule ^api/([0-9]+)/add_student/?$ add_student.php?class_id=$1&action=add_student [QSA,L]
RewriteRule ^api/([0-9]+)/remove_student/?$ add_student.php?class_room_id=$1&action=add_student [QSA,L]
RewriteRule ^api/([0-9]+)/attendance/?$ attendance.php?class_room_id=$1[QSA,L]
RewriteRule ^api/info/all_class_info/?$ class_info.php [QSA,L]
RewriteRule ^api/([0-9]+)/evaluate/?$ evaluate.php?task_manager_id=$1 [QSA,L]
RewriteRule ^api/class/([0-9]+)/startendclass/?$ startendClass.php?class_id=$1&action=start [QSA,L]
RewriteRule ^api/class/([0-9]+)/startendclass/?$ startendClass.php?class_id=$1&action=end [QSA,L]
RewriteRule ^api/task/([0-9]+)/uploadTask/?$ task_upload.php?class_id=$1 [QSA,L]
RewriteRule ^api/task/([0-9]+)/editTask/?$ task_upload.php?edit_task_id=$1 [QSA,L]
RewriteRule ^api/task/([0-9]+)/deleteStudent/?$ delete_student.php?class_room_id=$1 [QSA,L]
RewriteRule ^api/task/([0-9]+)/deleteSubmission/?$ delete_submission.php?task_manager_id=$1 [QSA,L]
RewriteRule ^api/task/([0-9]+)/deleteTask/?$ delete_task.php?task_id=$1 [QSA,L]
RewriteRule ^api/task/([0-9]+)/editSubmission/?$ edit_submission.php?task_manager_id=$1 [QSA,L]
RewriteRule ^api/interest/([0-9]+)/interested/?$ interested.php?user_id=$1 [QSA,L]
RewriteRule ^api/comment/([0-9]+)/classComment/?$ class_comment.php?class_id=$1 [QSA,L]
RewriteRule ^api/comment/([0-9]+)/courseComment/?$ course_comment.php?course_id=$1 [QSA,L]
RewriteRule ^api/email/?$ subscription.php [QSA,L]
RewriteRule ^api/task/([0-9]+)/addTask/?$ add_submission.php?task_parent_id=$1 [QSA,L]
RewriteRule ^api/class/([0-9]+)/?$ class_details.php?class_id=$1 [QSA,L]
RewriteRule ^api/task/([0-9]+)/submit_task/([0-9]+)/?$ submit_task.php?task_id=$1&class_id=$2 [QSA,L]
RewriteRule ^api/task/([0-9]+)/view_task/([0-9]+)/?$ view_task.php?task_id=$1&class_id=$2 [QSA,L]
RewriteRule ^api/evaluate/([0-9]+)/view_evaluation/?$ view_evaluation.php?task_manager_id=$1 [QSA,L]
RewriteRule ^api/class/([0-9]+)/addStudent/?$ add_students_to_class.php?class_id=$1 [QSA,L]
RewriteRule ^api/course/([0-9]+)/courseDetails/?$ course_details.php?course_id=$1 [QSA,L]